.ImageInside {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ImageInside img {
  object-fit: contain;
  border-radius: 5px;
  aspect-ratio: 16/9;
  width: 100%;
}
.ImageInside .crossButton {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  background: white;
  border-radius: 16px;
  color: red;
}
.ImageInside textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  resize: none;
  border: 1px #c1c1c1 solid;
  border-radius: 5px;
}
.ImageInside textarea:focus {
  outline: none;
}
